<h1>Existing Listings</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
      <th>Availability</th>
      <th>User</th>
      <th>Preview</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
        <td><%= item.category %></td>
        <td><%= item.availability %></td>
        <td><%= item.user.email %></td>
        <td><%= image_tag item.image, class: "item-image-preview" %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Delete Listing', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>      
      </tr>
    <% end %>
  </tbody>
</table>

