<p id="notice"><%= notice %></p>
<p id="edit-profile"><%= link_to 'Edit Your Profile', edit_user_registration_path(current_user) %></p>

<h1>Your Gallery</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
      <th>Preview</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= (item.price.to_i * 0.1) %></td>
        <td><%= item.category %></td>
        <% if item.image.attached? %>
          <td><%= cl_image_tag(item.image.key, :width=>200, crop: :scale, cloud_name: 'drlpdxmsc', class: "item-image-preview") %></td>
        <% else %>
          <td><%= image_tag item.image, class: "item-image-preview" %></td>
        <% end %>
        <td>
          <%= link_to 'Show', item %>
          <br>
          <%= link_to 'Edit', edit_item_path(item) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="paginate">
  <%= will_paginate @items %>
</div>