
<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <% if @item.image.attached? %>
    <div>
      <p><%= cl_image_tag(@item.image.key, :width=>100, crop: :scale, cloud_name: 'drlpdxmsc', class: "item-image-preview") %></p>

    </div>
  <% end %> 

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :category, collection: ["Abstract", "Pop-Culture", "OC", "Scenic", "Other"] %>
    <%= f.input :availability %>
    <%= f.file_field :image %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
