<p class="alert"><%= alert %></p>

<h3>
  <strong>Title:</strong>
  <%= @item.title %>
</h3>
<table class="table">
    <tr>
        <p>
          <strong>Description:</strong>
          <%= @item.description %>
        </p>

        <p>
          <strong>Price:</strong>
          $<%= (@item.price * 0.1).to_i %>
        </p>

        <p>
          <strong>Category:</strong>
          <%= @item.category %>
        </p>

        <p>
          <strong>Availability:</strong>
          <%= @item.availability %>
        </p>

        <p>
          <strong>User:</strong>
          <%= @item.user.username %>
        </p>
      </tr>
      <tr>
        <p>
          <% if @item.image.attached? %>
            <%= cl_image_tag(@item.image.key, :width=>100, cloud_name: 'drlpdxmsc', class: "item-image")%>
          <% else %>
            <%= image_tag @item.image, class: "item-image" %>
          <% end %>
        </p>
      </tr>


      <% if can? :manage, @item %>
        <%= link_to 'Edit', edit_item_path(@item) %> |
      <% end %>
      <p><button id="buynow-button">Purchase</button></p>
      
      <script src="https://js.stripe.com/v3/"></script>

      <script defer>
        const buyButton = document.getElementById('buynow-button')
          buyButton.addEventListener('click', function(){

            const stripe = Stripe('<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>')
            // console.log(stripe)
              fetch('<%= buy_path(@item.id) %>', { 
                  method: 'POST' 
              })
              .then(function(response) {
                  return response.json()
              })
              .then(function(session) {
                  return stripe.redirectToCheckout({ sessionId: session.id })
              })
          })
      </script>
      <%= link_to 'Back', items_path %> |
</table>
